# npm
node_modules/

# dev
/examples
/src
/test
.git-commit.cjs
.git-merge.cjs
.gitignore
.nvmrc
.prettierignore
.prettierrc.cjs
eslint.config.js
jest.config.js
rollup.config.js
tsconfig.json

# git
.git
